<body>
    <h1>Hello, {{ user.name }} !</h1>
    {% if user.admin: %}
    <h2>Tu es admin, bravo !</h2>
    {% endif %}
    <p>Tes passions sont :</p>
    <ul>
        {% for hobby in hobbies %}
        <li>{{ hobby.upper() }}</li>
        {% endfor %}
    </ul>
</body>


